/* Farbpalette: https://coolors.co/palette/03045e-023e8a-0077b6-0096c7-00b4d8-48cae4-90e0ef-ade8f4-caf0f8 */
body {
  margin: 0;
  background-color: #0096c7;
  font-family: "Roboto", sans-serif;
}
h1 {
  margin-bottom: 0;
}
h5 {
  margin-top: 0;
}
a {
  transition: all 0.5s;
}

/* Quelle für hr: https://gist.github.com/40/3745743 */
hr {
  border: 0;
  height: 1px;
  background: #333;
  background-image: linear-gradient(to right, #ccc, #333, #ccc);
}
/* Quelle für #entrypoint: WE-App (mit Anpassungen) */
#entrypoint {
  margin: 0.5em;
  border-radius: 0.5em;
  background-color: #caf0f8;
  padding: 0 3em 3em;
  font-size: 19px;
  overflow-x: auto;
  width: 90%;
  min-height: 100vh;
  transition: opacity 1s ease-in-out 0s;
}
.container {
  width: 100%;
  display: flex;
  justify-content: center;
}
ul.horizontal {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #03045e;
  display: grid; 
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr)); 
  grid-gap: 10px; 
}
ul.horizontal li a {
  display: block; 
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  cursor: pointer;
  font-weight: bold;
}

@media (min-width: 480px) {
  ul.horizontal {
    display: flex; 
    flex-wrap: wrap;
    justify-content: center; 
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1;
  }

  ul.horizontal li a {
    display: inline-block; 
  }

}


ul.horizontal li a:hover:not(.active),
ul.horizontal li a.active,
a.demo:hover {
  background-color: #00b4d8;
}

.header {
  padding: 1px;
  text-align: center;
  background: #023e8a;
  color: #caf0f8;
  font-size: 30px;
}
a.demo {
  display: inline-block;
  padding: 0.3em 1.2em;
  margin: 0 0.3em 0.3em 0;
  border-radius: 2em;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  color: #ffffff;
  background-color: #023e8a;
  text-align: center;
  transition: all 0.2s;
}
p.question {
  display: flex;
  justify-content: space-between;
  align-content: flex-start;
  align-items: center;
}
